body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 90%;
	line-height: 1.6em;
	text-align: left;
	background: #fff;
	color: #333333;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #aa0006;
}
a, a:link, a:visited {
	text-decoration: none;
	color: #b70006;
}
a:hover {
	text-decoration: underline;
}
table {
	border-collapse: collapse;
	width: 90%;
}
th, td {
	border: 1px solid black;
	width: 20%;
	text-align: center;
}
td {
	text-align: center;
}
#map {
	position: absolute;
	right: 50.5%;
	width: 500px;
	height: 400px;
	border: 1px solid #999;
}
.data {
	position: absolute;
	left: 50.5%;
	width: 500px;
	height: 400px;
}
#cartouche {
	position: absolute;
	top: 70%;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 22px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 21px;
	line-height: 21px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 10px;
	text-align: justify;
}